---
import Y24 from "../components/Y24.md";
import Layout from "../layouts/MainLayout.astro";
---

<Layout title="Front page">
  <div class="prose mx-auto flex justify-center">
    <Y24 />
  </div>
</Layout>
