---
import { type CollectionEntry } from "astro:content";

type Props = {
  blog: CollectionEntry<"blogs">;
};
const { blog } = Astro.props;
import Link from "../layouts/Link.astro";
---

<div class="p-2">
  <Link href={`/blog/${blog.slug}`}>
    <h5 class="hover:bg-orange-300 p-1 border-b-2 border-black/20">
      {blog.data.title}
    </h5>
  </Link>
</div>
