---
const { title = "Blaise's personal website", ...props } = Astro.props;
---

<title>{title}</title>

<meta name="description" content="Welcome to Blaise website!" />

<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />
<title>Blaise</title>
