---
import Head from "../components/Head.astro";
import Link from "./Link.astro";
import Analytics from "@vercel/analytics/astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <Head />
  </head>
  <body
    class="mb-7 flex flex-col min-h-screen text-zinc-700 selection:bg-[#0827F5] selection:text-white font-normal font-sans scroll-smooth">
    <slot />
  </body><Analytics />
</html>
